* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}
html{
  overflow-x: hidden;
}
body {
  background-color: #3b0404;
  padding: 20px;
overflow: auto;
}

div {
  max-width: 600px;
  margin: 0 auto;
  background: #eab3ab;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  color:#B95C50;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
 
}

input {
  width: 70%;
  padding: 10px 15px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #B95C50;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

/* Add task */
button:nth-of-type(1) {
  background-color: #DE847B;
  color: white;
}

ul {
  list-style: none;
  margin: 20px 0;
}

li {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #da7366;
  margin: 10px 0;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

li:hover {
  transform: translateX(5px);
}

li span {
  flex: 1;
  font-size: 16px;
}

/* Delete button */
li button:nth-of-type(1) {
  background-color:  #6f6166;
  color: white;
  margin-right: 10px;
}

/* done button */
li button:nth-of-type(2) {
  background-color: #65152d;
  color: white;
}

/* All done button */
div > button:last-child {
  background-color: #DE847B;
  color: white;
  width: 100%;
  margin-top: 20px;
}

/*completed tasks */
 span[style*="line-through"] {
  color:black;
  text-decoration: line-through;
}

@media (max-width: 582px) {
  input {
      width: 100%;
      margin-bottom: 10px;
  }
  
  li {
      flex-direction: column;
      gap: 10px;
      text-align: center;
  }
  
  li button {
      width: 100%;
  }
} 



